# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://brpriwryqqykaeqqwhkk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJycHJpd3J5cXF5a2FlcXF3aGtrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMjQ4NTgsImV4cCI6MjA4ODkwMDg1OH0.H9qat01dq4zZm8WaWj4AknCp2XgzcN1UjvqvbgKIFSo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJycHJpd3J5cXF5a2FlcXF3aGtrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMyNDg1OCwiZXhwIjoyMDg4OTAwODU4fQ.XU2d-YrVQm97jf41p0pSXwjeKoLAWZSTpq5sz5Yafrk

# Google Gemini
GEMINI_API_KEY=AIzaSyAX-A-NEI40QBNJ5SpAQEmzGUqr0AAQRLk

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_PRO_PRICE_ID=your_stripe_pro_price_id
STRIPE_SCHOOL_PRICE_ID=your_stripe_school_price_id
